{% extends "layout.html" %}
{% block title %}
Class
{% endblock %}
{% block style %}
    <style>
        #className {
            font-weight: 600;
        }
    </style>
{% endblock %}
{% block body %}
    {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
    {% endfor %}
<div id="className">{{ aClass.className }}</div>
<form action="{{ url_for('classRegister', classId = aClass.classId) }}" method="POST">
    <select name="child">
        {% for child in children %}
            <option value={{ child.id }}>
                {% if child is not none %}
                    <li>{{ [child.childfirstname, child.childlastname]|join(" ") }}</li>
                {% endif %}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Sign Up</button>
</form>
    
{% endblock %}