{% extends "layout.html" %}
{% block title %}
Classes
{% endblock %}
{% block style %}
    <style>
        #class {
            padding-top: 10px;
            padding-bottom: 20px;
        }
        #className {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block body %}
    {% for class in classes %}
        <div id=class>
            <div id=className>
                {{ class.className }}
            </div>
            <div>
                <div>
                    Capacity: {{ class.classNum }}
                </div>
                <div>
                    Grade: {{ class.classGrade }}
                </div>
                <div>
                    Description: {{ class.classDesc }}
                </div>
                <div>
                    Teacher: {% for teacher in teachers %}
                                {% if teacher.id == class.teacherId %}
                                    {{ [teacher.firstname, teacher.lastname]|join(" ") }}
                                {% endif %}
                            {% endfor %}
                </div>
                <form action="{{ url_for('classView', classId = class.classId) }}">
                    <button>View</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}